N = 512
data_original = false
weak_lensing = true
sim_count = 1
z2 = true
normalize_power = true
normalize_per_bin = true
gibbs = false
varying_noise = true
mask = true
mask_in_noise = false
mask_from_file = false
simple_ps = true
sparse_window = true
higher_power = false
change_fiducial = false
large_box = false
noise_val = 0.1
estimate_power_spectrum = false
lbfgs_m = 10
more_thuente = true
